.row .col-xs-12 .hayia{
    background:url(/static/ladylike/images/xs/hayia/hayia-pattern-300.png);
    text-align: center;
    margin-bottom: 81px;
    background-position-x: 3px;
}

.row .col-xs-12 .hayia h2 a{
    box-shadow: rgb(5, 203, 152) 10px 0px 0px, rgb(5, 203, 152) -10px 0px 0px;
    display: inline;
    color: rgb(255, 255, 255);
    padding: 2px 0px 0px;
    line-height: 41px;
    
    background: rgb(5, 203, 152);
    font-family: 'pf_din_text_comp_proregular',sans-serif;
}


.hayia_date{
    font-family: 'Covered By Your Grace';
    display: inline-block; 
    color: rgb(5, 203, 152);
    font-size: 34px;
    padding: 0px 6px;
    background: rgb(255, 255, 255);
    margin-top: 58px;        
    line-height: 36px;
}

.imerologio_cont{
    text-align:center;

}
.imerologio{
    background:url(/static/ladylike/images/xs/hayia/agapito_im_300.png) center no-repeat;
    background-size:284px 39px;     
    height:39px;
    display:inline-block;
    width:100%
}
.hayia_image{
    background:url(/static/ladylike/images/xs/hayia/haya_300.png) center no-repeat;
    background-size:202px 212px;     
    display:inline-block;
    margin-top: 19px;
    width: 100%;
    height:212px;
}
.car_image{
    background:url(/static/ladylike/images/xs/hayia/nissan_juke_300.png) center no-repeat;
    background-size:256px 169px;     
    display:inline-block;    
    width: 100%;
    height:169px;
}
.car_image_cont{
    text-align: center;
    position: relative;
    bottom: -54px;
}
.hayia_title.text-center h2 {
    margin-top: 44px;
}
/*
 *
 * Retina / High Resolution
 *
 */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
    .row .col-xs-12 .hayia{
        background:url(/static/ladylike/images/sm/hayia/hayia-pattern-600.png) ;
        background-size:19px 19px;        
        background-position-x: 4px;
    }

    .imerologio{
        background:url(/static/ladylike/images/sm/hayia/agapito_im_600.png) center no-repeat;                     
        background-size:284px 39px;     
        height:39px;
        display:inline-block;
        width:100%
    }
    .hayia_image{
        background:url(/static/ladylike/images/sm/hayia/haya_600.png) center no-repeat;      
        background-size:202px 212px;     
        display:inline-block;
        margin-top: 19px;
        width: 100%;
        height:212px;
    }
    .car_image{
        background:url(/static/ladylike/images/sm/hayia/nissan_juke_600.png) center no-repeat;
        background-size:256px 169px;     
        display:inline-block;    
        width: 100%;
        height:169px;
    }


}
/*iphone 4*/
@media only screen and (max-device-width : 320px) 
{ 
    .row .col-xs-12 .hayia{
        background: url(/static/ladylike/images/sm/hayia/hayia-pattern-600.png);
        background-size: 16px 16px;
        background-position-x: 0px;
        width: 98%;
        position: relative;
        left: 4px;
    }
}