.newsletter {
  	background:#ff5050;
  	background-image:url(/static/ladylike/images/xs/Newsletter.png);
  	background-repeat:no-repeat;
  	background-position:center 16px;
	background-size:188px 18px;
  	padding:35px 35px 16px 35px;
  	margin-bottom:30px;
  	position:relative; /*For Arrows*/
}
.newsletter label, .newsletter input {
	display:block;
  	width:100%;
  	text-align:center;
}
.newsletter label {
  	color:#000;
  	font-family:'pf_din_text_comp_proregular',sans-serif;
  	font-size:25px;
  	line-height:25px;
  	font-weight:400;
  	letter-spacing:3px;
  	margin-bottom:0;
}
.newsletter label span {
	font-weight:700;
}
.newsletter input {
	height:40px;
	line-height:40px;
}
.newsletter input.email {
	margin-top:14px;
	margin-bottom:14px;
	border:2px solid #000;
}
.newsletter input[type="submit"] {
	color:#fff;
  	background-color:#000;
  	padding:0;
  	border:none;
  	font-family:Georgia,serif;
  	font-size:12px;
  	font-weight:700;
  	font-style:italic;
}
.newsletter .sharp {
	display:inline-block;
	background-repeat:no-repeat;
	width:15px;
	height:30px;
	position:absolute;
	top:68px;
}
.newsletter .sharpLeft {
	background-image:url(/static/ladylike/images/xs/SharpLeft.png);
	background-size:15px 30px;
	left:-1px;
}
.newsletter .sharpRight {
	background-image:url(/static/ladylike/images/xs/SharpRight.png);
	background-size:15px 30px;
	right:-1px;
}
/*
 *
 * Retina / High Resolution
 *
 */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
	.newsletter {
  		background-image:url(/static/ladylike/images/sm/Newsletter.png);
	}
	.newsletter .sharpLeft {
		background-image:url(/static/ladylike/images/sm/SharpLeft.png);
	}
	.newsletter .sharpRight {
		background-image:url(/static/ladylike/images/sm/SharpRight.png);
	}
}