<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:security="http://www.springframework.org/schema/security"
        xsi:schemaLocation="http://www.springframework.org/schema/beans 
        					http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        					http://www.springframework.org/schema/security 
        					http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<!-- Spring Security Configuration -->
	<security:http auto-config="true" use-expressions="true" disable-url-rewriting="true">
		<security:form-login 
			login-page="/login.html"
			authentication-failure-url="/login.html?failed=true"
			default-target-url="/admin" />
		<security:logout logout-success-url="/" />
		<security:access-denied-handler error-page="/denied.html" />
		<!-- Intercept URL Rules -->
		<security:intercept-url pattern="/admin/statistics/**" access="hasRole('Administrator')" />
		<security:intercept-url pattern="/admin/user/**" access="hasRole('Administrator')" />
		<security:intercept-url pattern="/admin/role/**" access="hasRole('Administrator')" />
		<security:intercept-url pattern="/admin/forced/**" access="hasRole('Administrator')" />
		<security:intercept-url pattern="/admin/publication/**" access="hasAnyRole('Administrator','Manager')" />
		<security:intercept-url pattern="/admin/section/**" access="hasAnyRole('Administrator','Manager')" />
		<security:intercept-url pattern="/admin/tag/**" access="hasAnyRole('Administrator','Manager')" />
		<security:intercept-url pattern="/admin/category/**" access="hasAnyRole('Administrator','Manager')" />
		<security:intercept-url pattern="/admin/feed/**" access="hasAnyRole('Administrator','Manager')" />
		<security:intercept-url pattern="/admin/**" access="isFullyAuthenticated()" />
	</security:http>
    <bean id="bCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
	<security:authentication-manager>
		<security:authentication-provider user-service-ref="userDetailsServiceAdapter">
			<security:password-encoder ref="bCryptPasswordEncoder" />
		</security:authentication-provider>
	</security:authentication-manager>
	<!-- Activate Pre- and Post- Security Annotations -->
	<security:global-method-security  pre-post-annotations="enabled"/>
</beans>