.error h1 {
	color:#000;
	font-family:'pf_din_text_comp_proregular',sans-serif;
	font-size:24px;
	line-height;24px;
	font-weight:400;
	margin-top:19px;
	margin-bottom:19px;
}
.error h2 {
	color:#b5b5b5;
	font-family:'pf_din_text_comp_proregular',sans-serif;
	font-size:75px;
	font-weight:500;
	margin-top:11px;
	margin-bottom:0;
}
.error p {
	color:#4c4c4c;
	font-family:'Open Sans', sans-serif;
	font-size:12px;
	font-weight:400;
	line-height:24px;
	padding-top:8px;
	padding-bottom:18px;
	margin:0;
}
.error a {
	display:inline-block;
	background:#ff5050;
	line-height:29px;
	padding:0 17px 0 17px;
	text-decoration:none;
	color:#fff;
	font-size:13px;
	font-weight:300;
	margin-bottom:50px;
}
.error .image {
	background-image:url(/static/ladylike/images/xs/404.png);
  	background-repeat:no-repeat;
  	background-size:130px 135px;
  	width:130px;
  	height:135px;
  	margin:0 auto;
}
/*
 *
 * Retina / High Resolution
 *
 */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
	.error .image {
		background-image:url(/static/ladylike/images/sm/404.png);
	}
}