/***** Select Category *****/
.newspapers #selectCategory {
	display:inline-block;
	border:1px solid #ccc;
}
.newspapers #selectCategory button {
	min-width:195px;
	background:#fbfbfb;
	color:#333;
	font-family:'pf_din_text_comp_proregular',sans-serif;
	font-size:17px;
	line-height:25px;
	font-weight:300;
	text-align:left;
	padding:2px 9px 0 9px;
	border:none;
	position:relative;
}
.newspapers #selectCategory button, .newspapers #selectCategory button:active, .newspapers #selectCategory button:focus, .newspapers #selectCategory button:hover {
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
	border:none;
}
.newspapers #selectCategory button span {
	background-image:url(/static/ladylike/images/xs/Down.png);
  	background-repeat:no-repeat;
  	background-size:10px 7px;
  	display:inline-block;
  	width:10px;
  	height:7px;
  	display:inline-block;
  	position:absolute;
  	right:5px;
  	top:10px;
}
.newspapers #selectCategory.open button span {
	background-image:url(/static/ladylike/images/xs/Up.png);
	background-size:10px 7px;
}
.newspapers #selectCategory>.dropdown-menu {
	left:10px; /*Bootstrap's Body Padding*/
	right:10px; /*Bootstrap's Body Padding*/
	top:29px; /*Select Box's Height*/
	margin:0;
	padding:0;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	background:#fbfbfb;
	-webkit-box-shadow: 3px 3px 0px 0px rgba(203,203,203,1);
  	-moz-box-shadow: 3px 3px 0px 0px rgba(203,203,203,1);
  	box-shadow: 3px 3px 0px 0px rgba(203,203,203,1);
}
.newspapers #selectCategory .dropdown-menu>li{
	display:block;
	border-bottom:1px solid #cbcbcb;
	margin:0 17px;
}
.newspapers #selectCategory .dropdown-menu>li:last-child {
	border-bottom:none;
}
.newspapers #selectCategory .dropdown-menu>li>a {
	line-height:37px;
	/*background-color:#fbfbfb;*/
	color:#ff5050;
	font-family:'pf_din_text_comp_proregular',sans-serif;
	font-size:18px;
	line-height:18px;
	font-weight:300;
	text-decoration:none;
	padding:16px 10px 14px 10px;
}
.newspapers #selectCategory .dropdown-menu>li>a:hover {
	background:#fbfbfb;
}
/***** Next | Previous Buttons *****/
.newspaper .navigation .previousNewspaper, .newspaper .navigation .nextNewspaper {
	background:#fbfbfb;
	font-family:'pf_din_text_comp_proregular',sans-serif;
	color:#333;
	font-size:17px;
	line-height:17px;
	font-weight:300;
	text-decoration:none;
	padding:7px 0 3px 0;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.newspaper .navigation .previousNewspaper {
	padding-right:5px;
}
.newspaper .navigation .nextNewspaper {
	padding-left:9px;
}
.newspaper .navigation .previousNewspaper span {
	background-image:url(/static/ladylike/images/xs/Previous.png);
  	background-repeat:no-repeat;
  	background-size:8px 10px;
  	display:inline-block;
  	width:8px;
  	height:11px;
  	margin-left:6px;
  	margin-right:5px;
}
.newspaper .navigation .nextNewspaper span {
	background-image:url(/static/ladylike/images/xs/Next.png);
  	background-repeat:no-repeat;
  	background-size:8px 10px;
  	display:inline-block;
  	width:8px;
  	height:11px;
  	margin-left:7px;
  	margin-right:5px;
}
/***** Datepicker Button *****/
.newspapers .navigation .input-group.date, .newspaper .navigation .input-group.date {
	width:90px;
}
.newspapers .navigation .input-group.date span, .newspaper .navigation .input-group.date span {
  padding:5px 6px 3px 5px
}
.newspapers .navigation .input-group-addon, .newspaper .navigation .input-group-addon {
	background:#fbfbfb;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.newspapers .navigation .input-group-addon span, .newspaper .navigation .input-group-addon span {
	display:inline-block;
	background-image:url(/static/ladylike/images/xs/Calendar.png);
  	background-repeat:no-repeat;
  	background-size:16px 17px;
  	width:16px;
  	height:16px;
}
.newspapers .navigation .form-control, .newspaper .navigation .form-control {
	height:29px;
	background-color:#fbfbfb;
  	-webkit-box-shadow:none;
	-moz-box-shadow:none;
  	box-shadow:none;
  	-webkit-transition:none;
  	-o-transition:none;
	transition:none;
	border:1px solid #ccc;
	border-left:none;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
  	border-radius:1px;
}
/***** Datepicker *****/
.datepicker {
	background:#fbfbfb;
  	direction:ltr;
  	right:10px; /*Bootstrap's Body Padding*/
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
  	border-radius:0;
  	margin:0;
  	top:0;
  	left:0;
  	-webkit-box-shadow:none;
  	-moz-box-shadow:none;
  	box-shadow:none;
}
.datepicker > div {
  	display:none;
}
.datepicker.days .datepicker-days, .datepicker.months .datepicker-months, .datepicker.years .datepicker-years {
  	display:block;
}
.datepicker table *, 
.newspapers .navigation .input-group.date input,
.newspaper .navigation .input-group.date input {
  	font-family:'pf_din_text_comp_proregular',sans-serif;
  	font-size:17px;
  	font-weight:300;
  	color:#333;
}
.newspapers .navigation .input-group.date input {
	line-height:29px;
	padding:2px 0 0 0;
	outline:0;
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	appearance:none;
	cursor:not-allowed;
}
.datepicker table {
	width:100%;
  	margin:0;
  	-webkit-touch-callout:none;
  	-webkit-user-select:none;
  	-khtml-user-select:none;
  	-moz-user-select:none;
  	-ms-user-select:none;
  	user-select:none; 	
}
.datepicker table td, .datepicker table th {
  	text-align:center;
  	border:none;
  	padding:0 !important;
}
.datepicker table th {
	line-height:41px;
	font-size:22px;
}
.datepicker table th.dow {
	background:#ff5050;
	color:#fff;
	font-weight:400;
	padding:0;
}
.datepicker table td {
	line-height:35px;	
}
.datepicker table tbody tr:first-child td {
	padding-top:9px !important;
}
.datepicker table tbody tr:last-child td {
	padding-bottom:9px !important;
}
.datepicker table tr th.prev, .datepicker table tr th.prev:hover,
.datepicker table tr th.next, .datepicker table tr th.next:hover
.datepicker table tr td, .datepicker table tr td:hover {
  	cursor:pointer;
}
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
  	background:none;
  	color:#999999;
  	cursor:not-allowed;
}
.datepicker th.prev {
	background-image:url(/static/ladylike/images/xs/Previous.png);
  	background-repeat:no-repeat;
  	background-position:center;
  	background-size:8px 10px;
}
.datepicker th.next {
	background-image:url(/static/ladylike/images/xs/Next.png);
  	background-repeat:no-repeat;
  	background-position:center;
  	background-size:8px 10px;
}
/***** Open Calendar | Select Category Styles *****/
.newspapers .category-open #selectCategory,
.datepicker-open.navigation .input-group-addon,
.datepicker-open.navigation .form-control {
	border:1px solid #fbfbfb;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.datepicker-open.navigation .input-group-addon {
	border-right:none;	
}
.datepicker-open.navigation .form-control {
	border-left:none;
}
.datepicker-open.navigation .form-control:focus {
	background:#fbfbfb !important;
  	border-color:#fbfbfb;
  	outline:none;
  	-webkit-box-shadow:none;
  	-moz-box-shadow:none;
  	box-shadow:none;
}
.datepicker-open.navigation .previousNewspaper {
	padding:5px 5px 1px 0 !important;
}
.datepicker-open.navigation .nextNewspaper {
	padding:5px 0 1px 9px !important;
}
.datepicker-open.navigation #selectCategory button {
	line-height:22px;
}
.datepicker-open.navigation #selectCategory button span {
	top:8px;	
}
.category-open.navigation .form-control {
	height:26px;
}
.category-open.navigation .input-group.date input {
	line-height:26px;
}
.category-open.navigation .input-group.date span {
	padding:2px 6px 0 5px;
}
.category-open.navigation #selectCategory {
	-webkit-box-shadow: 3px 3px 0px 0px rgba(203,203,203,1);
  	-moz-box-shadow: 3px 3px 0px 0px rgba(203,203,203,1);
  	box-shadow: 3px 3px 0px 0px rgba(203,203,203,1);
}
/***** Other Styles *****/
.newspapers, .newspaper {
	background:#e5e5e5;
	padding-top:50px;
}
.newspapers .navigation, .newspaper .navigation {
	padding-top:10px;
}
.newspapers .navigation > div, .newspaper .navigation > div {
	margin-bottom:8px;
}
.newspapers .navigation .border, .newspaper .navigation .border {
	border-top:1px solid #fff;
	background-color:#ccc;
	height:2px;
	-webkit-box-shadow:0px 1px 0px 0px rgba(0, 0, 0, 0.03);
	-moz-box-shadow:0px 1px 0px 0px rgba(0, 0, 0, 0.03);
	box-shadow:0px 1px 0px 0px rgba(0, 0, 0, 0.03);
	margin-top:0;
	margin-bottom:0;
	clear:both;
}
.newspapers .form-group, .newspaper .form-group {
	margin-bottom:0;
	display:inline-block;
}
.newspapers .cover .banner {
	margin-top:30px;	
}
.newspapers .banner {
  	display:inline-block;
	position:relative;
  	background:#ff5050;
  	color:#fff;
  	font-family:'pf_din_text_comp_proregular',sans-serif;
  	font-size:21px;
  	line-height:21px;
  	font-weight:300;
  	padding:4px 23px 3px 23px;
}
.newspapers .banner .corner {
	background-image:url(/static/ladylike/images/xs/Corner.png);
  	background-repeat:no-repeat;
  	background-size:11px;
  	display:inline-block;
  	width:11px;
  	height:11px;
  	position:absolute;
  	left:0;
  	bottom:-11px;
}
.newspapers h1, .newspaper h1 {
	font-family:'pf_din_text_comp_proregular',sans-serif;
	font-size:17px;
	font-weight:400;
	color:#333;
	margin-top:21px;
	margin-bottom:10px;
	text-align:center;
}
.newspapers .cover {
	padding-bottom:23px;
	border-bottom:1px solid #ccc;
}
.newspapers .cover:last-child {
	padding-bottom:80px;	
}
.newspaper .back {
	padding-top:28px;
	padding-bottom:46px;
}
.newspaper .back a {
	display:block;
	font-family:'pf_din_text_comp_proregular',sans-serif;
	font-size:15px;
	font-style:italic;
	text-decoration:none;
	color:#333;
}
.newspaper .back a span {
	color:#ff5050;
	margin-right:2px;
}
/*
 *
 * Retina / High Resolution
 *
 */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
	.newspapers #selectCategory button span {
		background-image:url(/static/ladylike/images/sm/Down.png);
	}
	.newspapers #selectCategory.open button span {
		background-image:url(/static/ladylike/images/sm/Up.png);
	}
	.newspaper .navigation .previousNewspaper span {
		background-image:url(/static/ladylike/images/sm/Previous.png);
	}
	.newspaper .navigation .nextNewspaper span {
		background-image:url(/static/ladylike/images/sm/Next.png);
	}
	.newspapers .navigation .input-group-addon span, .newspaper .navigation .input-group-addon span {
		background-image:url(/static/ladylike/images/sm/Calendar.png);
	}
	.datepicker th.prev {
		background-image:url(/static/ladylike/images/sm/Previous.png);
	}
	.datepicker th.next {
		background-image:url(/static/ladylike/images/sm/Next.png);
	}
	.newspapers .banner .corner {
		background-image:url(/static/ladylike/images/sm/Corner.png);
	}
}