h1.title {
    font-family: 'pf_din_text_comp_proregular',sans-serif;
    color: #202020;
    font-size: 35px;
    font-weight: 400;
    line-height: 35px;
    margin-top: 31px;
}
.body {
    font-family:'Open Sans';
    font-style:normal;
    font-weight:300;
    color:#202020;
    font-size:17px;
    font-weight:300;
    line-height:27px;
    text-align:left;   
    margin-bottom:54px;
}
.body .leadtext {
    font-size:18px;
    line-height:27px;
    letter-spacing:-0.5px;
    font-family:'Open Sans';
    font-weight:900;
}
.body h2 {
    font-family:'Open Sans';
    color:#202020;
    font-size:17px;
    line-height:21px;
    font-weight:900;
    text-align:left;
    letter-spacing:-0.5px;
    margin-top:25px;
    margin-bottom:2px;
}
.body h2 a {
    font-size:17px;
    line-height:21px;
    letter-spacing:0px;
    font-weight:800;
}
.body h3 {
    font-family:'Open Sans';
    color:#ff5050;
    font-size:28px;
    line-height:25px;
    font-weight:300;
    text-align:left;
    letter-spacing:-0.8px;
}
.body h3 a {
    font-size:28px;
    line-height:25px;
    font-weight:300;
    letter-spacing:-0.8px;
}
.body h6 {
    display:inline-block;
    position:relative; /*For Right Quotes*/
    font-family:'pf_din_text_comp_proregular',sans-serif;
    color:#202020;
    font-size:30px;
    font-weight:400;
    line-height:32px;
    margin-bottom:50px;
}
.body h6 a {
    font-family:'pf_din_text_comp_proregular',sans-serif;
    font-size:30px;
}
.body h6:before {
    content:" ";
    display:block;
    background-image:url(/static/ladylike/images/xs/open_quote.png);
    background-size:41px 32px;
    width:41px;
    height:32px;
}
.body h6:after {
    content:" ";
    display:block;
    position:absolute;
    right:0;
    bottom:-32px;
    background-image:url(/static/ladylike/images/xs/close_quote.png);
    background-size:41px 32px;
    width:41px;
    height:32px;
}
.body a {
    font-family:'Open Sans';
    color:#ff5050;
    font-size:17px;
    font-weight:400;
    margin-right:2px;
    text-decoration:none;
}
.body a:hover {
    text-decoration:none;
    color:#ff5050;
}
.body p {
    margin:0 0 25px 0;
    letter-spacing:-0.5px;
}
.body strong {
    letter-spacing:-0.5px;
}
.body h2.also {
    font-family:'pf_din_text_comp_proregular',sans-serif;
    color:#ff5050;
    font-size:30px;
    line-height:26px;
    font-weight:300;
    text-align:left;
    margin-top:50px;
    margin-bottom:20px;
}
.body p.also {
    line-height:22px;
}
.body p.also a {
    font-weight:900;
    line-height:22px;
    color:#202020;
}
.disq {
    font-family:'pf_din_text_comp_proregular',sans-serif;
    font-size:30px;
    color:#202020;
    display:inline-block;
    width:41px;
    height:60px;
    background-image:url(/static/ladylike/images/xs/disq_icon.png);
    background-repeat:no-repeat;
    background-size:41px 49px;   
    text-align:center;
}
.disq:hover {
    text-decoration:none;
    color:#202020;
}
.byline {
    font-family:'pf_din_text_comp_proregular',sans-serif;
    color:#a8a8a8;
    font-size:15px;
    font-weight:400;
    text-align:left;
    border-bottom:1px solid #dcdcdc;
    padding:10px 0 5px;
    margin-bottom:10px;
    height:35px;
}
.date {
    display:inline-block;
    float:right;    
    text-align:right;
}
.date_left {
    display:inline-block;
    width:110px;
    float:left;    
    text-align:left;
}
.lineborder {
    height:2px;
    border-bottom:1px solid;
}
.editor .lineborder {
    height:7px;
    border-bottom:3px solid  #05cb98;
    margin-top:10px;
}
.desc {
    font-family:'Open Sans';
    color:#4c4c4c;
    font-size:12px;
    font-weight:700;
    line-height:32px;
    text-align:left;        
}
.pointer {
    font-family:'pf_din_text_comp_proregular',sans-serif;
    color:#05cb98;
    font-size:18px;
    font-style:italic;
    text-align:left;
}
.name {
    font-family:'pf_din_text_comp_proregular',sans-serif;
    color:#999999;
    font-size:16px;
    font-style:italic;
    text-align:left;
    font-weight:normal;
}
.editor {
    margin-bottom:8px;
    margin-top:27px;
}
.siati {
    background-image:url(/static/ladylike/images/xs/siati.category.png);
    background-repeat:no-repeat;
    background-size:60px;
}
.xagia {
    background-image:url(/static/ladylike/images/xs/xagia.category.png);
    background-repeat:no-repeat;
    background-size:60px;
}
.saitaki {
    background-image:url(/static/ladylike/images/xs/saitaki.category.png);
    background-repeat:no-repeat;
    background-size:60px;
}
.despoina {
    background-image:url(/static/ladylike/images/xs/despoina.category.png);
    background-repeat:no-repeat;
    background-size:60px;
}
.mamai {
    background-image:url(/static/ladylike/images/xs/mamai.category.png);
    background-repeat:no-repeat;
    background-size:60px;
}
.marietta {
    background-image:url(/static/ladylike/images/xs/marietta.category.png);
    background-repeat:no-repeat;
    background-size:60px;
}
.marion {
    background-image:url(/static/ladylike/images/xs/marion.category.png);
    background-repeat:no-repeat;
    background-size:60px;
}
.img {
    height:60px;        
}
.auth_cont {
    display:inline-block;
    position:relative;
    left:70px;
    top:15px;
}
.think {
    font-family:'pf_din_text_comp_proregular',sans-serif;
    color:#ff5050;
    font-size:30px;
    font-weight:300;
    text-align:left;
}
.comm {
    font-family:'pf_din_text_comp_proregular',sans-serif;
    color:#000000;
    font-size:18px;
    font-weight:400;
    text-align:left;
    position:relative;
    top:-10px;
}
.disq_left {
    width:41px;
    float:left;
    margin-top:8px;
    margin-right:8px;
}
.inline_ph .captions {
    padding-top:10px;
    font-family:'Open Sans';
    font-size:12px;
    line-height:14px;
    font-weight:400;
    color:#4c4c4c;
    margin-bottom:0;
}
.embed-responsive.embed-responsive-16by9, .embed-responsive.embed-responsive-1by1 { /*1by1 Is A Custom Responsive Class*/
    clear:both;
}
.embed-responsive.embed-responsive-1by1 {
    padding-bottom:100%;
}
.instagram-media {
    margin:0 auto 20px auto !important;
}
/*doctors*/
.doct{
    position:relative;
}

.doct h3{
    display: inline-block;
    position: relative;
    color: #000;
    font-size: 0.75em;
    line-height: 21px;
    font-weight: 300;
    /* width: 40%; */
    position: absolute;
    top: 0px;
    left: 79px;
    font-weight: bold;
    letter-spacing: -0.2px;
}
.doct .editor_twitter{
    display:block !important;   
}
.doct img {
    display: none;
}

.img_mobile.kiritsis{
    background-image: url(http://www.ladylike.gr/diagonismoi/article3880008.ece/BINARY/original/Category-Avatar.png);
    background-repeat: no-repeat;
    background-size: 60px;
    height: 60px;    
    margin-bottom: 14px;
}

.img_mobile.pisios{
    background-image: url(http://ladylike.gr/diagonismoi/article3881679.ece/BINARY/original/kont_pisios60x60.png);
    background-repeat: no-repeat;
    background-size: 60px;
    height: 60px;    
    margin-bottom: 14px;
}

.img_mobile.castaldo{
    background-image: url(http://ladylike.gr/articles/fitness/article3882925.ece/BINARY/original/Gennaro_Castaldo_60x60.png);
    background-repeat: no-repeat;
    background-size: 60px;
    height: 60px;    
    margin-bottom: 14px;
}

.img_mobile.kalliakmanis{
    background-image: url(http://ladylike.gr/articles/fitness/article3887514.ece/BINARY/original/Ioannis_Kalliakmanis_60x60.png);
    background-repeat: no-repeat;
    background-size: 60px;
    height: 60px;    
    margin-bottom: 14px;
}

.img_mobile.drakotos{
    background-image: url(http://ladylike.gr/articles/fitness/article3890406.ece/BINARY/original/Dimitris_Drakotos_60x60.png);
    background-repeat: no-repeat;
    background-size: 60px;
    height: 60px;    
    margin-bottom: 14px;
}
.img_mobile.vlastarakos{
    background-image: url(http://ladylike.gr/articles/fitness/article3890407.ece/BINARY/original/Sotirios_Vlastarakos_60x60.png);
    background-repeat: no-repeat;
    background-size: 60px;
    height: 60px;    
    margin-bottom: 14px;
}



.doct .editor_content{
    display: inline-block;
}
.doct .editor_content p{
    padding: 28px 9px 31px 9px;
    background-color: #edeeef;   
    color: #333333;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    letter-spacing: -0.4px;
    line-height: 21px;
}

.doct .twitter-follow-button{
    display:none;
}
.doct img{
    display:none !important;
}
.img_mobile .kiritsis{

}
.doct .arrow {
    background-image: url(http://m.sport24.gr/static/sport24/images/xs/TooltipCorner.png);
    background-repeat: no-repeat;
    background-size: 30px 25px;
    width: 30px;
    height: 25px;
    position: absolute;
    top: 52px;
    left: 107px;
    display: inline-block !important;
}
/*
 *
 * Retina / High Resolution
 *
 */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
    .disq {
        background-image:url(/static/ladylike/images/sm/disq_icon.png);
    }
    h6:before {
        background-image:url(/static/ladylike/images/sm/open_quote.png);
    }
    h6:after {
        background-image:url(/static/ladylike/images/sm/close_quote.png);
    }
    .siati {
        background-image:url(/static/ladylike/images/sm/siati.category.png);
    }
    .xagia {
        background-image:url(/static/ladylike/images/sm/xagia.category.png);	
    }
    .saitaki {
        background-image:url(/static/ladylike/images/sm/saitaki.category.png);
    }
    .despoina {
        background-image:url(/static/ladylike/images/sm/despoina.category.png);	
    }
    .mamai {
        background-image:url(/static/ladylike/images/sm/mamai.category.png);
    }
    .marietta {
        background-image:url(/static/ladylike/images/sm/marietta.category.png);
    }
    .marion {
        background-image:url(/static/ladylike/images/sm/marion.category.png);
    }
    .img_mobile.kiritsis{
        background-image: url(http://www.ladylike.gr/diagonismoi/article3880015.ece/BINARY/original/Category-Avatar-big.png); 
    }
    .img_mobile.pisios{
        background-image: url(http://ladylike.gr/articles/fitness/ygeia/rota_ton_giatro/article3881634.ece/BINARY/original/kont_pisios120x120.png); 
    }
    .img_mobile.castaldo{
        background-image: url(http://ladylike.gr/articles/fitness/article3882920.ece/BINARY/original/Gennaro_Castaldo_120x120.png); 
    }
    .img_mobile.kalliakmanis{
        background-image: url(http://ladylike.gr/articles/fitness/article3887513.ece/BINARY/original/Ioannis_Kalliakmanis_120x120.png); 
    }

    .img_mobile.drakotos{
        background-image: url(http://ladylike.gr/articles/fitness/ygeia/rota_ton_giatro/article3890336.ece/BINARY/original/Dimitris_Drakotos_120x120.png); 
    }

    .img_mobile.vlastarakos{
        background-image: url(http://ladylike.gr/articles/fitness/ygeia/rota_ton_giatro/article3890328.ece/BINARY/original/Sotirios_Vlastarakos_120x120.png); 
    }


}