/***** Article BestOf *****/
.bestofLogo {
	background-image:url(/static/ladylike/images/xs/BestOf.png);
  	background-repeat:no-repeat;
  	background-size:225px 152px;
  	width:225px;
  	height:152px;
  	padding-top:152px;
  	margin:0 auto 27px auto;
}
.bestof .bestofContainer {
	display:block;
	overflow:hidden;
	border-radius:100%;
	margin:0 auto;
	width:180px;
	height:180px;
}
.bestof .bestofContainer {
	width:180px;
	height:180px;
}
.bestof .cut {
	height:140px;
	overflow:hidden;
}
.bestof .info {
	position:relative;
	top:-10px;
	margin-bottom:28px;
}
.article.bestof .banner {
	display:inline-block;
	color:#fff;
	background:#05cb98;
	font-family:'Open Sans', sans-serif;
	font-size:11px;
	height:20px;
	line-height:20px;
	font-weight:600;
	padding:0 6px;
	margin-bottom:10px;
}
.article.bestof h1 {
	margin-top:0;
	margin-bottom:0;
	font-size:24px;
	line-height:24px;
}
.article.bestof h1 a {
	color:#202020;
	font-family:'pf_din_text_comp_proregular',sans-serif;
	font-size:24px;
	line-height:24px;
	font-weight:400;
	text-decoration:none;
}
/*
 *
 * Retina / High Resolution
 *
 */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
	.bestofLogo {
		background-image:url(/static/ladylike/images/sm/BestOf.png);
	}
}