/***** Article Big *****/
.portraitContainer {
	display:block;
	margin:0 auto;
}
.article.big {
	margin-bottom:38px;
}
.article.big .picture {
	position:relative;
}
.article.big .picture h1 {
	position:absolute;
	bottom:0;
	width:100%;
	margin-top:0;
	margin-bottom:29px;
	padding:0 23px;
	font-size:25px;
	line-height:25px;
	z-index:99;
}
.article.big .picture h1 a {
	display:block;
	margin:0 auto;
	max-width:590px; /*_maxDevice - 50px Padding*/
	color:#fffefe;
	font-family:'pf_din_text_comp_proregular',sans-serif;
	font-size:25px;
	font-weight:400;
	text-decoration:none;
}
.article.big .info {
	position:relative;
	top:-10px;
	z-index:99;
}
.article.big .info .banner, .article.circle .banner {
	display:inline-block;
	color:#fff;
	background:#05cb98;
	font-family:'Open Sans', sans-serif;
	font-size:11px;
	height:20px;
	line-height:20px;
	font-weight:600;
	padding:0 6px;
	margin-bottom:8px;
}
.article.big .info p {
	margin:0 0 34px;
	color:#4c4c4c;
	font-family:'Open Sans', sans-serif;
	font-size:12px;
	line-height:16px;
	font-weight:400;
}
.article.big .shadow {
	display:block;
    width:100%;
	position:absolute;
	bottom:0;
	z-index:9;
	height:50%;
	background:-webkit-linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 100%);
	background:-moz-linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 100%);
	background:-o-linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 100%);
	background:-ms-linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 100%);
	background:linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
	z-index:9;
}
/*
 *
 * Retina / High Resolution
 *
 */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
	.article.big .info p {
		font-size:13px;
		line-height:17px;
	}
}