/***** Article Circle *****/
.circleContainer {
	display:block;
	border-radius:100%;
	overflow:hidden;
	margin:0 auto;
}
.article.circle .info {
	position:relative;
	margin-top:-80px;
	overflow:hidden;
}
.article.circle .banner {
	margin-bottom:5px;
}
.article.circle .title {
	font-family:'pf_din_text_comp_proregular',sans-serif;
	font-size:26px;
	line-height:35px;
  	display:block;
  	margin:0;
}
.article.circle .title a {
	display:inline;
  	background:#ff5050;
  	color:white;
	text-decoration:none;
	padding:1px 0 0 0;
	box-decoration-break: clone;
}
.article.circle .title.padding a {
	/*If box-shadow Is Not Supported We Just Lose The Left/Right Padding*/
	box-shadow:10px 0 0 #ff5050, -10px 0 0 #ff5050;
}
.article.circle .leadText {
	font-family:'Open Sans', sans-serif;
	color:#4c4c4c;
	font-size:12px;
	line-height:16px;
	font-weight:400;
	margin:6px 0 22px 0;
}
/*
 *
 * Retina / High Resolution
 *
 */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
	.article.circle .leadText {
		font-size:13px;
		line-height:17px;
	}
}